/*INDEX - HERO SECTION*/

.hero {
    padding-top: 118px;
    padding-bottom: 118px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-bg-hero);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_ds-@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_ds-@2x.jpg);
    }


    max-width: 480px;
    margin-left: auto;
    margin-right: auto;


    // tablet
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    // desktop
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    // tablet and phone
    color: var(--white-text);
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 360px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    
    // desktop
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: calc(60 / 44);
        max-width: 696px;
    }
}

.hero__btn {
    // tablet and phone
    min-width: 200px;

    display: block;
    margin-left: auto;
    margin-right: auto;


    // desktop
    @media screen and (min-width: 1200px) {
        min-width: 216px;
    }
}