/*FOOTER*/

.footer {
    background-color: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    

    // tablet
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline
    }

    // desktop
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: row;
        align-items: baseline;
    }
}

.logo__footer {
    // tablet and phone
    display: flex;
    justify-content: center;
    margin-bottom: 20px;


    // desktop
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: left;
    }
}

.address {
    // tablet and phone
    text-align: center;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--white-text);
    margin-bottom: 60px;


    // desktop
    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-bottom: 0;
    }
}

.address--hover {
    transition: color var(--anim);


    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.address--contacts-color {
    color: var(--text-link-footer);
}

.address--contacts-margin {
    // tablet and phone
    margin-bottom: 8px;


    // desktop
    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

/*join-social*/

.footer-social-box {
    margin-bottom: 60px;
    
    // tablet
    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }
        
    // desktop
    @media screen and (min-width: 1200px) {
        align-items: center;
        margin-left: 70px;
        margin-bottom: 0;
    }
}

.footer-title {
    // tablet and phone
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--white-text);
    margin-bottom: 20px;

 
    // desktop
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

/* subscribe */

.subscribe-box {

    // desktop
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.subscribe-form {
    // tablet and phone
    display: flex;
    flex-direction: column;
    gap: 20px;


    // desktop
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 12px;
    }
}

.subscribe-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;

    min-width: 100%;
    height: 50px;

    padding-left: 16px;
    padding-right: 16px;

    cursor: pointer;

    background-color: var(--bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: background-color var(--anim);


    // tablet
    @media screen and (min-width: 768px) {
        width: 450px;
    }

    // desktop
    @media screen and (min-width: 1200px) {
        width: 358px;
    }


    &:hover,
    &:focus {
        background-color: var(--color-white);
    }
}